<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - Home</title>
</head>
<body>
<!-- navbar-->
<div th:replace="fragments/header :: header"></div>
<!-- breadcrumb
<div class="container-fluid p-2 pb-1 bg-light">
    <nav aria-label="" breadcrumb>
        <ol breadcrumb class="">
            <li aria-current="page" class="breadcrumb-item active">contacts</li>
        </ol>
    </nav>
</div>-->

<div class="container-lg pt-5">
    <h2 class="text-center">
        <span>contacts</span>
    </h2>

</div>
<h2 class="h2">My Contacts</h2>
<table>
    <tbody>
    <tr th:if="${names.isEmpty()}">
        <td colspan="3">No contacts found in database</td>
    </tr>
    <tr th:each="name: ${contactsNames}">
        <td><span th:text="${name}"></span></td>
    </tr>
    </tbody>
</table>
</body>

</html>