<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - logOff</title>
</head>
<body>
<!-- navbar-->
<div th:replace="fragments/header :: header"></div>
<!-- breadcrumb-->
<div class="container-fluid p-2 pb-1 bg-light">
    <nav aria-label="" breadcrumb>
        <ol breadcrumb class="">
            <li aria-current="page" class="breadcrumb-item active">logOff</li>
        </ol>
    </nav>
</div>

<div class="container-lg pt-5">
    <h2 class="text-center">
        <span>logOff</span>
    </h2>

</div>


</body>
</html>