<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - ApplicationTransfer</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div class="container-lg pt-5">
    <h1 class="text-center">
        <span>App transfer</span>
    </h1>

</div>
<div class="container-lg pt-5">
    <form action="/PayMyBuddy/contacts" method="GET">

        <div class="row">
            <div class="text-end">
                <input type="submit" value="Add a connection"/>
            </div>
        </div>


    </form>

    <div style="margin: 30px">
        <h2 class="h2">Add a transaction</h2>
    </div>


    <div class="container">
        <form action="/PayMyBuddy/transferApp" method="POST">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Current balance</th>
                    <th scope="col">Email of the receiver</th>
                    <th scope="col">Amount to transfer</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span th:text="${connectedUser.get().getAmountAppAccount()}"> Current balance </span></td>
                    <td><select name="email">
                        <option th:each="mail: ${emails}" th:text="${mail}" th:value="${mail}">
                        </option>
                    </select></td>
                    <td><input min="0" name=amount required step="0.01" type=number></td>
                    <td><input name=description required type="text"></td>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!--
    <div class="col-8">
        <form action="/PayMyBuddy/transferApp" method="POST">
            <div>
                <label>Current balance</label>
                <td><span th:text="${connectedUser.get().getAmountAppAccount()}"> Current balance </span></td>
            </div>
            <div>
                <label>Email of the receiver</label>
                <select name="email">
                    <option th:each="mail: ${emails}" th:text="${mail}" th:value="${mail}">
                    </option>
                </select>
            </div>
            <div name="amount">
                <label>Amount</label>
                <input name=amount type=number>
            </div>
            <div name="decription">
                <label>Description</label>
                <input name=description type="text">
            </div>
            <input type="submit"/>
        </form>
    </div>
</div>navbar-->


    <div style="margin: 30px">
        <h2 class="h2">My past transactions</h2>
    </div>
    <div th:switch="${#lists.size(transactions.myTransactions)}">
        <div th:case="'0'">
            <td colspan="3">There is no existing transactions in the database</td>

        </div>

        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th>Connections</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transactionLine: ${transactionLines}">
                    <td><span th:text="${transactionLine.getName()}"> Name </span></td>
                    <td><span th:text="${transactionLine.getDescription()}"> Description </span></td>
                    <td><span th:text="${transactionLine.getAmount()}"> Amount </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>