<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - BankTransfer</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>
<!-- navbar-->
<div th:replace="fragments/header :: header"></div>

<div class="container-lg pt-5">
    <h1 class="text-center">
        <span>Bank transfer</span>
    </h1>
    <div style="margin: 30px">
        <h2 class="h2">Add a transaction</h2>
    </div>
    <form action="/PayMyBuddy/transferBank" method="POST">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Current balance</th>
                <th scope="col">Bank account number</th>
                <th scope="col">Amount to transfer from the app to the bank</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td><span th:text="${connectedUser.get().getAmountAppAccount()}"> Current balance </span></td>

                <td>
                    <select name="bankAccount">
                        <option th:each="bankAccount: ${connectedUser.get().getBankAccounts()}"
                                th:text="${bankAccount.getBankAccountId()}"
                                th:value="${bankAccount.getBankAccountId()}">
                        </option>
                    </select>
                </td>
                <td>
                    <div>
                        <input name=bankAmount required step="0.01" type=number>
                    </div>
                </td>
                <td>
                    <input type="submit" value=Submit>
                </td>
            </tr>
            </tbody>
        </table>
    </form>


    <h2 class="h2" style="margin: 30px">My Bank Transactions</h2>
    <div th:switch="${#lists.size(bankTransactions)}">
        <div th:case="'0'">
            <span>There is no existing bank transfer in the database</span>
        </div>
        <div th:case="*">
            <table class="table">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount transfered</th>
                    <th scope="col">Account number</th>
                </tr>
                <tbody>
                <tr th:each="bankTransaction: ${bankTransactions}">
                    <td><span th:text="${bankTransaction.getDate()}"> Date </span></td>
                    <td><span th:text="${bankTransaction.getBankTransferedAmount()}"> Transfered sum </span></td>
                    <td><span
                            th:text="${bankTransaction.getBankAccount().getBankAccountId()}"> BankAccount Number </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>

</html>