<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - BankTransfer</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>
<!-- navbar-->
<div th:replace="fragments/header :: header"></div>

<div class="container-lg pt-5">
    <h2 class="text-center">
        <span>transferBank</span>
        <table>
            <form action="/PayMyBuddy/transferBank" method="POST">
                <select name="bankAccount">
                    <option th:each="bankAccount: ${connectedUser.get().getBankAccounts()}"
                            th:text="${bankAccount.getBankAccountId()}"
                            th:value="${bankAccount.getBankAccountId()}">
                    </option>
                </select>
                <div name="bankAmount">
                    <label>Amount</label>
                    <input name=bankAmount type=number>
                </div>
                <input type="submit"/>
            </form>


        </table>
    </h2>

</div>

<h2 class="h2">My Bank Transactions</h2>

<table>
    <tr>
        <td><span th:text="${connectedUser.get().getAmountAppAccount()}"> Current balance </span></td>
    </tr>
    <tbody>
    <tr th:if="${bankTransactions.isEmpty()}">
        <td colspan="3">No transactions in database</td>
    </tr>
    <tr th:each="bankTransaction: ${bankTransactions}">
        <td><span th:text="${bankTransaction.getDate()}"> Date </span></td>
        <td><span th:text="${bankTransaction.getBankTransferedAmount()}"> Transfered sum </span></td>
        <td><span th:text="${bankTransaction.getBankAccount().getBankAccountId()}"> BankAccount Number </span></td>
    </tr>
    </tbody>
</table>


</body>
</html>